<ul>
    <li> v0.23-alpha
      <ul>
        <li><a href="https://github.com/stuartlynne/fitness_hrv/releases/download//v0.23-alpha/Fitness_Dashboard_0.23_setup.exe">
            <strong> Fitness_Dashboard_0.23_setup.exe </strong></a> </li>
      </ul>
    </li>
    <li> v0.21-alpha
      <ul>
        <li><a href="https://github.com/stuartlynne/fitness_hrv/releases/download//v0.21-alpha/Fitness_Dashboard_0.21_setup.exe">
            <strong> Fitness_Dashboard_0.21_setup.exe </strong></a> </li>
      </ul>
    </li>
    <li> v0.20-alpha
      <ul>
        <li><a href="https://github.com/stuartlynne/fitness_hrv/releases/download//v0.20-alpha/Fitness_Dashboard_0.20_setup.exe">
            <strong> Fitness_Dashboard_0.20_setup.exe </strong></a> </li>
        <li><a href="https://github.com/stuartlynne/fitness_hrv/releases/download//v0.20-alpha/Fitness_ECG_0.20_setup.exe">
            <strong> Fitness_ECG_0.20_setup.exe </strong></a> </li>
      </ul>
    </li>
    <li> v0.17-alpha
      <ul>
        <li><a href="https://github.com/stuartlynne/fitness_hrv/releases/download//v0.17-alpha/Fitness_Dashboard_0.17_setup.exe">
            <strong> Fitness_Dashboard_0.17_setup.exe </strong></a> </li>
      </ul>
    </li>
    <li> v0.16-alpha
      <ul>
        <li><a href="https://github.com/stuartlynne/fitness_hrv/releases/download//v0.16-alpha/Fitness_Dashboard_0.16_setup.exe">
            <strong> Fitness_Dashboard_0.16_setup.exe </strong></a> </li>
        <li><a href="https://github.com/stuartlynne/fitness_hrv/releases/download//v0.16-alpha/Fitness_ECG_0.16_setup.exe">
            <strong> Fitness_ECG_0.16_setup.exe </strong></a> </li>
      </ul>
    </li>
    <li> v0.15-alpha
      <ul>
        <li><a href="https://github.com/stuartlynne/fitness_hrv/releases/download//v0.15-alpha/Fitness_Dashboard_0.15_setup.exe">
            <strong> Fitness_Dashboard_0.15_setup.exe </strong></a> </li>
        <li><a href="https://github.com/stuartlynne/fitness_hrv/releases/download//v0.15-alpha/Fitness_ECG_0.15_setup.exe">
            <strong> Fitness_ECG_0.15_setup.exe </strong></a> </li>
      </ul>
    </li>
    <li> v0.14-alpha
      <ul>
        <li><a href="https://github.com/stuartlynne/fitness_hrv/releases/download//v0.14-alpha/Fitness_Dashboard_0.14_setup.exe">
            <strong> Fitness_Dashboard_0.14_setup.exe </strong></a> </li>
        <li><a href="https://github.com/stuartlynne/fitness_hrv/releases/download//v0.14-alpha/Fitness_ECG_0.14_setup.exe">
            <strong> Fitness_ECG_0.14_setup.exe </strong></a> </li>
      </ul>
    </li>
    <li> v0.13-alpha
      <ul>
        <li><a href="https://github.com/stuartlynne/fitness_hrv/releases/download//v0.13-alpha/Fitness_Dashboard_0.13_setup.exe">
            <strong> Fitness_Dashboard_0.13_setup.exe </strong></a> </li>
        <li><a href="https://github.com/stuartlynne/fitness_hrv/releases/download//v0.13-alpha/Fitness_ECG_0.13_setup.exe">
            <strong> Fitness_ECG_0.13_setup.exe </strong></a> </li>
      </ul>
    </li>
</ul>
