<ul>
    <li> v0.14-alpha
      <ul>
        <li><a href="https://github.com/stuartlynne/fitness_hrv/releases/download//v0.14-alpha/Fitness_Dashboard_0.14_setup.exe">
            <strong> Fitness_Dashboard_0.14_setup.exe </strong></a> </li>
        <li><a href="https://github.com/stuartlynne/fitness_hrv/releases/download//v0.14-alpha/Fitness_ECG_0.14_setup.exe">
            <strong> Fitness_ECG_0.14_setup.exe </strong></a> </li>
      </ul>
    </li>
    <li> v0.13-alpha
      <ul>
        <li><a href="https://github.com/stuartlynne/fitness_hrv/releases/download//v0.13-alpha/Fitness_Dashboard_0.13_setup.exe">
            <strong> Fitness_Dashboard_0.13_setup.exe </strong></a> </li>
        <li><a href="https://github.com/stuartlynne/fitness_hrv/releases/download//v0.13-alpha/Fitness_ECG_0.13_setup.exe">
            <strong> Fitness_ECG_0.13_setup.exe </strong></a> </li>
      </ul>
    </li>
</ul>
