<p><strong>Downloads</strong></p>
      <ul>
        <li><a href="https://github.com/stuartlynne/fitness_hrv/releases/download//v0.17-alpha/Fitness_Dashboard_0.17_setup.exe"><strong> Fitness_Dashboard_0.17_setup.exe </strong></a> </li>
      </ul>
      <ul>
        <li><a href="https://github.com/stuartlynne/fitness_hrv/releases/download//v0.16-alpha/Fitness_Dashboard_0.16_setup.exe"><strong> Fitness_Dashboard_0.16_setup.exe </strong></a> </li>
        <li><a href="https://github.com/stuartlynne/fitness_hrv/releases/download//v0.16-alpha/Fitness_ECG_0.16_setup.exe"><strong> Fitness_ECG_0.16_setup.exe </strong></a> </li>
      </ul>
